// ==============================
// 		Event Categories
// ==============================


.categories {
	padding: 2em 0;

	.container {
		width: 100%;
	}

	@media screen and (min-width: 550px) {
		.container {
			width: 90%;
		}
	}

	.category {
		width: 50%;
		float: left;
		text-align: center;
		padding: 3em 1em;
		text-transform: uppercase;
		font-size: 0.75em;
		@media screen and (min-width: 1024px) {
			width: 25%;
			padding: 4em 1em;
		}
	}

	.theatre {
		@include category-containers($red, $grey, "../img/theater.jpg", 0.8);
	}

	.dance {
		@include category-containers($pink, $grey, "../img/ballet.jpg", 0.8);
	}

	.music {
		@include category-containers($blue, $grey, "../img/music.jpg", 0.8);
	}

	.film {
		@include category-containers($green, $grey, "../img/film.jpg", 0.8);
	}

	.history {
		@include category-containers($lightorange, $grey, "../img/history.jpg", 0.8);
	}

	.literature {
		@include category-containers($teal, $grey, "../img/literature.jpg", 0.8);
	}

	.visual {
		@include category-containers($purple, $grey, "../img/visual.jpg", 0.8);
	}

	.more {
		@include category-containers($yellow, $grey, "../img/more.jpg", 0.8);
	}
}