// ========================
// 		Find Event
// ========================

.find-event {
	background: $cream;
	text-align: center;
	padding: 1.5em 0;

	input, select {
		margin-bottom: 1.5em;
	}

	.find {
		margin-bottom: 0;
	}

	@media screen and (min-width: 1024px) {
		.find {
			margin-left: 10px;
			float: right;
		}

		.text-box {
			width: 25%;
			float: left;
			margin-right: 25px;
			text-align: left;

			input, select {
				text-align: left;
				padding-left: 15px;
				margin-bottom: 0;
			}
		}
	}
}







