// ========================
// 		Flex Slider
// ========================

.flexslider {
	position: relative;
	background: $white;

	li {
		background: url('../img/burning-columbia-slide.jpg') no-repeat;
		background-size: cover;
		padding: 1em;
	}

	.burning-content {
		line-height: 1;
		text-align: center;

		h1 {
			font-size: 1.5em;
			margin-bottom: 0.25em;
		}

		.subtext {
			font-size: 1em;
			font-weight: italic;
			color: $white;
			margin: 0 0 0;
        }

		p {
			color: $white;
			font-size: 0.875em;
			line-height: 1;
			margin: 0 0.5em 0.5em;
			display: inline-block;
		}

		.italic {
			font-weight: italic;
		}

		hr {
			color: $red;
			background: $red;
			height: 2px;
			border: none;
			width: 65%;
		}

		img {
			width: 70%;
		}

		.burning-text {
			width: 100%;
			margin: 1.25em auto 0;
		}

		.actions {
			margin-top: 1em;

			a {
				display: inline-block;

				@media screen and (max-width: 449px) {
					width: 40%;
				}

				margin-right: 0.5em;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

