// ========================
// 		Newsletter Styles
// ========================

.newsletter {
	background: $teal;
	text-align: center;
	padding: 3em 0;

	form {
		@media screen and (min-width: 960px) {
			width: 51%;
			float: right;
			padding: 0.625em 0;
		}
	}

	.small-container {
		@media screen and (min-width: 700px) {
			width: 70%;
			margin: 0 auto;
		}
		@media screen and (min-width: 960px) {
			width: 80%;
		}
	}

	input {
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		@media screen and (min-width: 700px) {
			float: left;
			width: 65%;
		}
		@media screen and (min-width: 960px) {
			&[type="email"] {
				float: initial;
				text-align: left;
				padding-left: 15px;
			}
		}
	}

	input[type="submit"] {
		@media screen and (min-width: 700px) {
			float: right;
			width: 140px;
			text-align: center;
		}

		@media screen and (min-width: 768px) {
			float: left;
			width: 140px;
			margin-left: 1em;
			text-align: center;
		}

		@media screen and (min-width: 768px) {
			float: right;
		}
	}

	p {
		margin: 0 0 0.25em;
		color: $white;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 1.5em;

		@media screen and (min-width: 550px) {
			font-size: 2em;
		}

		@media screen and (min-width: 960px) {
			margin: 0.4em 0 0.5em;
			float: left;
		}
	}
}