// ========================
// 		Upcoming Events
// ========================

.upcoming-title {
	background: $red;
	text-align: center;
}

.upcoming {
	padding: 4em 0;
	
	.container {
		width: 90%;
	}
}

// Events

.event {
	background: $cream;
	text-align: center;
	margin-bottom: 4em;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 768px) {
		float: left;
		width: 47.6%;
		margin-right: 2em;

		&:nth-child(2) {
			margin-right: 0;
		}
	}

	@media screen and (min-width: 960px) {
		float: left;
		width: 31.1%;
		margin-bottom: 0;

		&:nth-child(2) {
			margin-right: 2em;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.date-bg {
		display: inline-block;
		text-align: center;
		padding: 0.25em 1em;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
	}

	.event-text {
		padding: 1em 1em 0;

	}

	.red:hover {
		background: lighten($red, 5%);
	}
	.orange:hover {
		background: lighten($lightorange, 5%);
	}
	.blue:hover {
		background: lighten($blue, 5%);
	}

	img {
		width: 100%;
	}

	h4 {
		clear: both;
	}

	.read-more {
		text-transform: uppercase;
		color: $white;
		display: block;
		padding: 0.5em 0;
		@media screen and (min-width: 550px) {
			padding: 1em 0;
		}
	}

	.blue {
		background: $blue;
	}

	.orange {
		background: $lightorange;
	}

	.red {
		background: $red;
	}
}
